.session {
    width: 100%;
    margin: 0 auto;
}

.main_box {
    width: 100%;
    margin-top: 70px;
}

.category {
    font-family: noto sans;
    font-weight: 900;
    font-size: 18px;
    color: #3065EC;
}

.main_title {
    margin-top: 30px;
    font-family: noto sans;
    font-weight: 700;
    font-size: 32px;
    color: #323232;
}

.select_box {
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
   

}

.li_active {
    border: 0px solid;
    background-color: #3065EC;
    border-radius: 37px;
    padding: 8px 17px;
    font-family: noto sans;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.li_unActive {
    border: 1px solid #C8C8C8;
    background-color: #fff;
    border-radius: 37px;
    padding: 8px 17px;
    font-family: noto sans;
    font-weight: 500;
    font-size: 14px;
    color:rgba(0, 0, 0, 0.4);
}

.container {
    width: 1260px;
    text-align: left;
    margin: 0 auto;
    margin-top: 100px;
}


.explain_box {
    width: 100%;
    margin-top: 70px;
}

.search {
    font-family: noto sans;
    font-weight: 700;
    font-size: 24px;
    color: #323232;
}


.app_container {
    width: 100%;
    
}

.content_box {
    width: 100%;
    margin-top: 46px;
    text-align: left;
    border-bottom: 1px solid #E4E4E4;;
}

.name_box {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: noto sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #323232;
}

.update {
    font-family: noto sans;
    font-weight: 400;
    font-size: 12px;
    color: #323232;
}

.img_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    overflow-x: auto;
}

.img_box > li {
    margin-top: 20px;
}

.img {
    width: 223px;
    height: 482px;
    margin: 20px 0px;
    border-radius: 16px;
    border: 0px solid;
    background-color: #e4e4e4;
}

.imgs {
    width: 223px;
    height: 482px;
    margin: 0;
    border-radius: 16px;
    border: 0px solid;
    background-color: #e4e4e4;
    box-shadow: rgba(104, 104, 104, 0.1) 0px 4px 12px;
}

.article_box {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.article_li {
    margin-right: 28px;
    margin-bottom: 30px;
}

.article_container {
    width: 392px;   
    height: 393px;
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 16px;
}

.art_category {
    position: relative;
    top: 30px;
    margin: 0 auto;
    font-style: normal;
    font-family: noto sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    align-items: center;
    color: #3065EC;
}

.art_title {
    position: relative;
    height: auto;
    width: 292px;
    padding-top: 55px;
    margin: 0 auto;
    font-style: normal;
    font-family: noto sans;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    line-height: 36px;
    text-align: center;
    align-items: center;
    color: #323232;
}

.article {
    position: relative;
    height: 84px;
    width: 292px;
    padding-top: 1.5rem;
    margin: 0 auto;

    font-style: normal;
    font-family: noto sans;
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    line-height: 21px;
    text-align: center;
    align-items: center;
    color: #323232;

    word-break: break-all;
    white-space: normal;
    overflow:hidden;
    text-overflow: ellipsis;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}

.contain_user {
    position: relative;
    width: 324px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 3rem;
}

.ul {
    display: flex;
    margin-top: 1.3rem;
}

.view {
    font-size: 0.9rem;
    margin-right: 10px;
}

.icon_view {
    width: 15px;
    margin-right: 4px;
}

.btn {
    border: 0px solid;
    position: absolute;
    width: 160px;
    height: 52px;
    right: 0;
    color: #FFFFFF;
    background-color: #3065EC;
    border-radius: 100px;
    font-family: noto sans;
    font-weight: 500;
    line-height: 21px;
    font-size: 14px;
}


